#btnAjouter{
    height: 100px;
    border-radius: 50%;
}
.zoom{
    overflow: hidden;
}

.zoom img {
    transform-origin: 50% 65%;
    transition: transform 3s, filter 3s ease-in-out;
    filter: brightness(150%);
  }
.zoom:hover img{
    filter: brightness(100%);
    transform: scale(1.4);
  }