<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Mes bibliothèques</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="liste-bibliotheques">Liste des bibliothèques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="livres">Liste des livres</a>
        </li>
      </ul>
      <form class="d-flex" #rechercheForm="ngForm" (ngSubmit)="rechercheBiblio(rechercheForm)">
        <input class="form-control me-2" type="search" placeholder="rechercher une bibliothèque" aria-label="Search"
          name="search" id="search" ngModel>
        <button class="btn btn-outline-success" type="submit" routerLink="rechercher-bibliotheque">Rechercher</button>
      </form>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer id="sticky-footer" class="flex-shrink-0 text-black-50">
  <div class="container text-center">
    <small>Copyright &copy; 2021 Mes bibliothèques</small>
  </div>
</footer>